@media (max-width: 550px) {
    .expand {
        display: none;
    }
}
@media (min-width: 768px)  {
    .brand-container {
        width: 768px;
    }
    .brand__content {
        height: auto;
        padding: 24px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .brand__header {
        padding: 24px;
    }
    .brand__box:nth-last-child(-n+5) {
        display: none;
  }
}
@media (min-width: 1120px) {
    .brand-container {
        width: 1120px;
    }
    .brand__content {
        height: auto;
        padding: 24px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .brand__header {
        padding: 24px;
    }
    .brand__box:nth-last-child(-n+3) {
        display: none;
    }
}